.header {
  display: flex;
  justify-content: space-between; /* Distribute space between logo and nav links */
  align-items: center; /* Vertically center items */
  padding: 0rem 1rem;
  background-color: #706767; /* Background color */
  position: fixed; /* Fix header to the top */
  width: 100%; /* Ensure header spans the full width */
  top: 0; /* Align header to the top */
  left: 0; /* Align header to the left */
  z-index: 1000; /* Ensure header is above other content */
  height: auto;
}

.header .logo {
  font-size: 1.4rem; /* Font size for your name */
  color: #2c2a29; /* Color for your name */
  margin: 0;
}

.header .nav-links {
  display: flex;
  gap: 2rem; /* Space between links */
  list-style-type: none; /* Remove bullet points */
  margin-right: 3rem; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header .nav-links a {
  color: #333; /* Color for the links */
  font-size: 2rem; /* Font size for the links */
  text-decoration: none;
  white-space: nowrap; /* Prevent text from wrapping */
}

.header .nav-links a:hover {
  color: #ddd; /* Change color on hover */
}

main {
  margin-top: 4.5rem; /* Ensure content is below the header */
}

