/* Root element styling */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Flexbox styling for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333; /* Dark background color */
  color: #f1f1f1; /* Light color for text */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures header stays on top */
}

/* Styling for the logo (your name) */
.logo {
  font-size: 2.5rem; /* Larger font size for name */
  color: #3a3837; /* Distinct color for the name */
  margin: 0;
}

/* Navigation styling */
.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style-type: none; /* Removes bullet points */
  gap: 2rem; /* Space between links */
  padding: 0;
  margin: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #f1f1f1; /* Light color for the links */
  font-size: 1.2rem; /* Font size for the links */
}

.nav-list li a.active {
  color: #646cff; /* Highlight active link */
}

.nav-list li a:hover {
  color: #ddd; /* Change color on hover */
}

/* Footer styling */
footer {
  background-color: #333; /* Dark background color for footer */
  color: #f1f1f1; /* Light color for text */
  padding: 1rem;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Footer links styling */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.footer-links a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.5rem; /* Size of FontAwesome icons */
  display: flex;
  align-items: center;
}

.footer-links a i {
  margin-right: 0.5rem; /* Space between icon and text */
}

.footer-links a:hover {
  color: #ddd; /* Lighter color on hover */
}

/* Other component styling */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

